$white: #fff;
$black: #000;
$element-color-accent: #B2886F;

$breakpoint-xl: 1199px;
$breakpoint-lg: 991px;
$breakpoint-md: 767px;
$breakpoint-md-additional: 600px;
$breakpoint-sm: 414px;
$breakpoint-xs: 320px;