/* Entertainment
================*/
.entertainment {

    &__wrapper {
        &:not(:last-child) {
            margin-bottom: 40px;

            @include breakpoint($breakpoint-lg) {
                margin-bottom: 25px;
            }
        }

        @include breakpoint($breakpoint-sm) {
            &:not(:last-child) {
                margin-bottom: 0;
            }

            &:first-child {
                padding-bottom: 12px;
            }

            &:last-child {
                padding-top: 12px;
            }
        }
    }


    &__title {
        margin: 0 auto 40px;

        @include font-lobster(24px, inherit);

        @include breakpoint($breakpoint-lg) {
            margin-bottom: 0;
        }

        @include breakpoint($breakpoint-md) {
            font-size: 20px;
        }
    }

    &__list {
        padding: 10px 30px;
        height: 400px;
        overflow: hidden;
        counter-reset: entertainmentitem;

        .slick-list {
            margin: 0 -30px;
        }

        @include breakpoint($breakpoint-lg) {
            height: auto;
        }
    }

    &__item {
        @extend %flex-wrap;
        justify-content: space-between;

        &:before {
            counter-increment: entertainmentitem;
            content: "0" counter(entertainmentitem);

            margin-right: 5px;

            @include font-lobster(42px, 1.5);
            color: $element-color-accent;

            @include breakpoint($breakpoint-xl) {
                font-size: 38px;
            }

            @include breakpoint($breakpoint-lg) {
                display: none;
            }
        }

        &--revers {
            flex-direction: row-reverse;

            .entertainment__subtitle {
                text-align: end;

                @include breakpoint($breakpoint-lg) {
                    text-align: center;
                    font-size: 20px;
                }

                @include breakpoint($breakpoint-md) {
                    text-align: center;
                    font-size: 18px;
                }
            }
        }

        @include breakpoint($breakpoint-lg) {
            flex-direction: column;
        }
    }

    &__content {
        width: 40%;
        padding: 20px;

        text-align: center;

        @include breakpoint($breakpoint-lg) {
            width: 100%;
        }

        @include breakpoint($breakpoint-sm) {
            padding: 0;
        }
    }

    &__subtitle {
        font-size: 22px;
        text-align: start;

        @include breakpoint($breakpoint-lg) {
            text-align: center;
            font-size: 20px;
        }

        @include breakpoint($breakpoint-md) {
            text-align: center;
            font-size: 18px;
        }
    }

    &__text {
        margin-top: 15px;

        .btn {
            margin: 15px 0;
        }
    }

    &__photo {
        width: 54%;
        min-height: 380px;
        overflow: hidden;

        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate3d(-50%, -50%, 0);
        }

        &--included:before {
            content: '';
            display: block;
            width: 48px;
            height: 48px;

            background: url(../img/entertainment/label-check.png) no-repeat;

            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 2;

            @include breakpoint($breakpoint-lg) {
                display: none;
            }
        }

        &--extra:before {
            content: '';
            display: block;
            width: 48px;
            height: 48px;

            background: url(../img/entertainment/label-star.png) no-repeat;

            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 2;

            @include breakpoint($breakpoint-lg) {
                display: none;
            }
        }

        @include breakpoint($breakpoint-lg) {
            width: 100%;
        }

        @include breakpoint($breakpoint-sm) {
            display: none;
        }
    }
}
