/* Footer
================*/
.footer {
    padding: 20px 0;
    background-color: rgba(116, 66, 36, 0.5);

    &__wrapper {
        @extend %flex-align-center;
        justify-content: center;

        @include breakpoint($breakpoint-md) {
            flex-direction: column;
        }
    }

    &__title {
        margin-right: 20px;

        font-size: 14px;
        font-weight: 400;

        @include breakpoint($breakpoint-md) {
            margin-right: 0;
            margin-bottom: 10px;

            text-align: center;
        }
    }

    &__copyright {
        margin: 0;

        font-size: 14px;
        text-align: center;

        @include breakpoint($breakpoint-sm) {
            font-size: 12px;
        }
    }

    @include breakpoint($breakpoint-lg) {
        padding: 17px 0;
    }

    @include breakpoint($breakpoint-md) {
        padding: 15px 0;
    }

    @include breakpoint($breakpoint-sm) {
        padding: 12px 0;
    }
}

