/* Footer
================*/
.footer {
    padding: 20px 0;
    background-color: rgba(116, 66, 36, 0.5);

    &__copyright {
        margin: 0;

        font-size: 14px;
        text-align: center;

        @include breakpoint($breakpoint-sm) {
            font-size: 12px;
        }
    }

    @include breakpoint($breakpoint-lg) {
        padding: 17px 0;
    }

    @include breakpoint($breakpoint-md) {
            padding: 15px 0;
    }

    @include breakpoint($breakpoint-sm) {
        padding: 12px 0;
    }
}

