/* Logo
================*/
.logo {
    flex-shrink: 0;
    margin-right: 10px;

    &__img {
        height: 65px;

        @include breakpoint($breakpoint-lg) {
            height: 48px;
            padding-right: 10px;
        }

        @include breakpoint($breakpoint-sm) {
            height: 46px;
        }
    }
}