/* Prices
================*/
.prices {
    padding: 0 15px;

    &__wrapper {
        margin: 10px auto 50px;
        width: 100%;

        border: 1px dotted $element-color-accent;
        box-shadow: 0 4px 5px 2px $element-color-accent;

        @include breakpoint($breakpoint-lg) {
            margin-bottom: 35px;
        }

        @include breakpoint($breakpoint-md-additional) {
            max-width: 500px;
            overflow-x: scroll;
        }
    }

    &__table {
        border-collapse: collapse;
    }

    &__table-data,
    &__table-heading {
        border: 1px dotted $element-color-accent;
    }

    &__table-heading {
        font-size: 22px;
        padding: 10px;

        @include breakpoint($breakpoint-lg) {
            font-size: 20px;
            padding: 5px;
        }

        @include breakpoint($breakpoint-md) {
            font-size: 18px;
        }
    }

    &__table-data {
        padding: 10px;

        font-size: 20px;
        text-align: center;

        @include breakpoint($breakpoint-lg) {
            font-size: 18px;
            padding: 5px;
        }

        @include breakpoint($breakpoint-md) {
            font-size: 16px;
        }

        &:not(.center):first-of-type {
            text-align: left;
        }
    }

    &__list {
        margin: 0;
        padding-left: 40px;

        list-style-type: circle;
    }

    &__item {
        margin: 0 0 10px;

        @include breakpoint($breakpoint-lg)  {
            margin-bottom: 7px;
        }
    }
}

