@charset "UTF-8";
@font-face {
  font-family: "Lobster";
  src: local("Lobster"), url("../fonts/Lobster/LobsterRegular.woff2") format("woff2"), url("../fonts/Lobster/LobsterRegular.woff") format("woff"), url("../fonts/Lobster/LobsterRegular.ttf") format("ttf"), url("../fonts/Lobster/LobsterRegular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: local("Lora"), url("../fonts/Lora/LoraRegular.woff2") format("woff2"), url("../fonts/Lora/LoraRegular.woff") format("woff"), url("../fonts/Lora/LoraRegular.ttf") format("ttf"), url("../fonts/Lora/LoraRegular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: local("Lora"), url("../fonts/Lora/LoraMedium.woff2") format("woff2"), url("../fonts/Lora/LoraMedium.woff") format("woff"), url("../fonts/Lora/LoraMedium.ttf") format("ttf"), url("../fonts/Lora/LoraMedium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}
.reviews__list, .gallery__wrapper, .entertainment__item, .territory__gallery, .territory__wrapper, .about-glamping, .booking-form, .site-nav {
  display: flex;
  flex-wrap: wrap;
}

.intro__wrapper, .intro {
  display: flex;
  flex-direction: column;
}

.social, .territory__col, .about-glamping__col, .site-nav__link, .header__nav {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: "Lora", serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 991px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  body {
    line-height: 1.4;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, textarea, select, button {
  font-family: inherit;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.nowrap {
  white-space: nowrap;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Focus-element
================*/
:focus {
  outline: 2px solid #000;
}

:focus:not(:focus-visible) {
  outline: 0;
}

:focus-visible {
  outline: 2px solid #000;
}

/* Container
================*/
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Components */
/* Header
================*/
.header {
  width: 100%;
  background-color: rgba(178, 136, 111, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background 0.15s linear;
}
.header--dark {
  background-color: rgba(178, 136, 111, 0.95);
}
.header__nav {
  justify-content: space-between;
  min-height: 75px;
}
@media (max-width: 991px) {
  .header__nav {
    min-height: 55px;
  }
}
@media (max-width: 414px) {
  .header__nav {
    min-height: 52px;
  }
}

/* Logo
================*/
.logo {
  flex-shrink: 0;
  margin-right: 10px;
}
.logo__img {
  height: 65px;
}
@media (max-width: 991px) {
  .logo__img {
    height: 48px;
    padding-right: 10px;
  }
}
@media (max-width: 414px) {
  .logo__img {
    height: 46px;
  }
}

/* Site-nav
================*/
.site-nav {
  align-items: center;
  height: 100%;
}
@media (max-width: 991px) {
  .site-nav__item {
    width: 100%;
  }
}
.site-nav__link {
  height: 75px;
  padding: 0 12px;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  transition: background 0.3s ease, color 0.3s ease;
}
@media (max-width: 1199px) {
  .site-nav__link {
    height: auto;
    padding: 0 10px;
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .site-nav__link {
    padding: 10px 20px;
    justify-content: flex-end;
  }
  .site-nav__link:hover:before {
    display: none;
  }
}
.site-nav__link:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 20px;
  left: 0;
  background-color: #fff;
  transition: 0.2s;
  transform: scaleX(0);
}
.site-nav__link:not(.site-nav__link--active):hover:before {
  transform: scaleX(1);
}
.site-nav__link--active {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}
@media (max-width: 991px) {
  .site-nav__link--active {
    background-color: rgba(178, 136, 111, 0.9);
  }
}
@media (max-width: 991px) {
  .site-nav {
    width: 100%;
    height: calc(100vh - 55px);
    overflow-y: auto;
    align-content: flex-start;
    padding-top: 7px;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.25s ease-out;
  }
  .site-nav.show {
    transform: translateX(0);
  }
}
@media (max-width: 414px) {
  .site-nav {
    height: calc(100vh - 52px);
  }
}

/* Burger
================*/
.burger {
  display: none;
  width: 30px;
  height: 23px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  position: relative;
  font-size: 0;
  color: transparent;
}
.burger:focus {
  outline: none;
}
.burger__line {
  display: block;
  width: 30px;
  height: 2px;
  margin: 3px 0;
  background-color: #fff;
  transition: transform 0.2s ease-out;
}
.burger__line:nth-child(1) {
  width: 20px;
  margin-left: auto;
}
.burger__line:nth-child(1), .burger__line:nth-child(3) {
  transform-origin: right;
  transition: width 0.2s ease-out;
}
.burger--active .burger__line:nth-child(1), .burger--active .burger__line:nth-child(3) {
  width: 0;
}
.burger--active .burger__line:nth-child(2), .burger--active .burger__line:nth-child(4) {
  position: absolute;
  left: 0;
  top: 50%;
  transform-origin: center;
}
.burger--active .burger__line:nth-child(2) {
  transform: rotate(45deg);
}
.burger--active .burger__line:nth-child(4) {
  transform: rotate(-45deg);
}
@media (max-width: 991px) {
  .burger {
    display: block;
  }
}

/* Intro
================*/
.intro {
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
  padding-top: 75px;
  background: #374929 url("../img/intro/intro-bg.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.intro__wrapper {
  justify-content: space-between;
  width: 100%;
  max-width: 970px;
  height: 62vh;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .intro__wrapper {
    height: 85vh;
  }
}
@media (min-height: 320px) and (max-height: 575px) and (orientation: landscape) {
  .intro__wrapper {
    height: auto;
  }
}
@media (max-height: 320px) and (orientation: landscape) {
  .intro__wrapper {
    justify-content: center;
  }
}
.intro__content {
  margin-top: 25px;
  margin-bottom: 10px;
  color: #fff;
}
@media (min-width: 767px) and (min-height: 1023px) {
  .intro__content {
    margin-top: 80px;
  }
}
@media (max-width: 600px) {
  .intro__content {
    margin-top: 10px;
  }
}
@media (min-height: 320px) and (max-height: 575px) and (orientation: landscape) {
  .intro__content {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
@media (max-width: 320px) {
  .intro__content {
    margin-top: 20%;
  }
}
.intro__suptitle {
  font-size: 30px;
  line-height: 1.1;
  text-align: right;
  margin-right: 15px;
}
@media (max-width: 1199px) {
  .intro__suptitle {
    font-size: 26px;
  }
}
@media (max-width: 991px) {
  .intro__suptitle {
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  .intro__suptitle {
    font-size: 20px;
    text-align: center;
  }
}
@media (max-height: 320px) and (orientation: landscape) {
  .intro__suptitle {
    margin-left: 30px;
    line-height: 1;
    text-align: start;
  }
}
.intro__title {
  font-family: "Lobster", cursive;
  font-weight: 400;
  text-align: center;
  font-size: 130px;
  line-height: 1.3;
}
@media (max-width: 1199px) {
  .intro__title {
    font-size: 110px;
  }
}
@media (max-width: 991px) {
  .intro__title {
    font-size: 90px;
  }
}
@media (max-width: 600px) {
  .intro__title {
    font-size: 50px;
    line-height: 1;
  }
}
@media (max-width: 320px) {
  .intro__title {
    font-size: 42px;
  }
}
@media (max-width: 991px) {
  .intro {
    padding-top: 60px;
  }
}
@media (max-width: 768px) and (max-height: 1024px) {
  .intro {
    background-image: url("../img/intro/intro-bg-tablet.jpg");
  }
}
@media (max-height: 414px) and (orientation: landscape) {
  .intro {
    background-image: url("../img/intro/intro-bg-mobile-landscape.jpg");
  }
}
@media (max-width: 414px) and (max-height: 896px) {
  .intro {
    background-image: url("../img/intro/intro-bg-mobile.jpg");
  }
}

/* Booking
================*/
.booking {
  width: 100%;
  max-width: 900px;
  margin: 10px auto;
}
@media (max-width: 600px) {
  .booking {
    max-width: 400px;
  }
}

/* Booking-form
================*/
.booking-form {
  justify-content: center;
}
@media (max-height: 320px) and (orientation: landscape) {
  .booking-form--variation {
    display: none;
  }
}
.booking-form__input {
  width: 33%;
  min-height: 55px;
  padding: 10px;
  font-size: 20px;
  line-height: inherit;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid #000;
}
.booking-form__input:last-of-type {
  margin: 0 2px;
}
@media (max-width: 600px) {
  .booking-form__input:last-of-type {
    margin: 2px 0;
  }
}
.booking-form__input:focus {
  outline: none;
  border: 1px solid #000;
}
.booking-form__input--calendar {
  background: rgba(255, 255, 255, 0.8) url("../img/calendar.png") 97% 50% no-repeat;
}
.booking-form__input[type=date]::-webkit-inner-spin-button {
  display: none;
}
.booking-form__input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
@media (max-width: 1199px) {
  .booking-form__input {
    width: 25%;
    min-height: 52px;
    min-width: 170px;
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .booking-form__input {
    width: 100%;
    max-width: 300px;
    font-size: 16px;
  }
}

/* Btn
================*/
.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background-color: rgba(178, 136, 111, 0.9);
  border: 1px solid #000;
  cursor: pointer;
  transition: background 0.2s linear;
}
.btn:hover {
  background-color: #a97a5e;
}
.btn--size-xl {
  width: 33%;
  min-height: 55px;
  font-size: 20px;
}
@media (max-width: 1199px) {
  .btn--size-xl {
    width: 30%;
    min-height: 52px;
    min-width: 200px;
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .btn--size-xl {
    width: 100%;
    max-width: 300px;
    font-size: 16px;
  }
}
.btn--size-xs {
  line-height: 1.1;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 991px) {
  .btn--size-xs {
    font-size: 16px;
  }
}
.btn--block-light {
  border: 1px solid #f5f2f2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* Section
================*/
.section {
  padding: 85px 0;
}
@media (max-width: 991px) {
  .section {
    padding: 60px 0;
  }
}
@media (max-width: 414px) {
  .section {
    padding: 55px 0;
  }
}
.section--variation {
  display: none;
}
@media (max-height: 320px) and (orientation: landscape) {
  .section--variation {
    display: block;
  }
}
.section--accent {
  background-color: rgba(217, 188, 172, 0.8);
}
.section--bottom-indent-less {
  padding-bottom: 0;
}
@media (max-width: 991px) {
  .section--bottom-indent-less {
    padding-top: 60px;
  }
}
@media (max-width: 414px) {
  .section--bottom-indent-less {
    padding-top: 55px;
  }
}
.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
  text-align: center;
}
@media (max-width: 767px) {
  .section__header {
    margin-bottom: 15px;
  }
}
.section__title {
  margin-bottom: 25px;
  font-family: "Lobster", cursive;
  font-weight: 400;
  text-align: center;
  font-size: 45px;
  line-height: 1.1;
}
@media (max-width: 991px) {
  .section__title {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .section__title {
    margin-bottom: 15px;
    font-size: 32px;
  }
}
@media (max-width: 414px) {
  .section__title {
    font-size: 30px;
  }
}
.section__description {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 991px) {
  .section__description {
    font-size: 18px;
  }
}
@media (max-width: 414px) {
  .section__description {
    font-size: 16px;
  }
}

/* About-glamping
================*/
.about-glamping {
  padding: 0 15px;
}
.about-glamping__col {
  margin: 15px 0;
}
.about-glamping__col:first-child {
  margin-top: 0;
}
@media (max-width: 767px) {
  .about-glamping__col:first-child {
    margin-top: 15px;
  }
}
.about-glamping__col:last-child {
  margin-bottom: 0;
}
.about-glamping__col--reverse {
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .about-glamping__col {
    flex-direction: column;
  }
}
.about-glamping__wrapper {
  width: 50%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .about-glamping__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.about-glamping__content {
  width: 50%;
  padding: 15px;
  text-align: center;
}
.about-glamping__content p:last-child {
  margin-bottom: 0;
}
.about-glamping__content .btn {
  margin: 7px 0;
}
.about-glamping__content:before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  margin: 10px auto;
  background-color: #B2886F;
}
@media (max-width: 767px) {
  .about-glamping__content {
    width: 100%;
    padding-bottom: 0;
  }
}
@media (max-width: 414px) {
  .about-glamping {
    padding: 0;
  }
}

/* Territory
================*/
.territory__wrapper {
  padding-top: 15px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .territory__wrapper {
    margin-bottom: 0;
  }
}
.territory__col {
  flex-direction: column;
  width: 50%;
}
@media (max-width: 767px) {
  .territory__col {
    width: 100%;
  }
}
.territory__title {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 500;
}
@media (max-width: 991px) {
  .territory__title {
    font-size: 16px;
  }
}
.territory__list {
  width: 100%;
  max-width: 450px;
  margin: 20px 0;
  padding-left: 40px;
}
@media (max-width: 991px) {
  .territory__list {
    align-self: flex-start;
    font-size: 16px;
  }
}
@media (max-width: 414px) {
  .territory__list {
    padding-left: 20px;
    padding-right: 10px;
  }
}
.territory__list > li {
  margin-bottom: 10px;
}
@media (max-width: 414px) {
  .territory__list > li {
    margin-bottom: 8px;
  }
}
.territory__list > li:before {
  content: "✓";
  margin-right: 5px;
}
.territory__list-inserted {
  margin: 10px 0;
  padding-left: 40px;
}
.territory__list-inserted > li:before {
  content: "—";
  margin-right: 10px;
}
.territory__gallery {
  flex-direction: column;
  align-content: space-between;
  align-items: flex-start;
  max-width: 1140px;
  max-height: 820px;
  margin: 0 auto -20px auto;
}
.territory__gallery:before, .territory__gallery:after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
@media (max-width: 1199px) {
  .territory__gallery {
    max-height: 1280px;
    max-width: 940px;
  }
}
@media (max-width: 991px) {
  .territory__gallery {
    max-height: 988px;
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .territory__gallery {
    flex-direction: row;
    margin: 0 auto;
  }
}
.territory__item {
  max-width: 360px;
  min-height: 240px;
  margin: 0 10px 20px;
}
.territory__item:nth-child(3n+1) {
  order: 1;
}
.territory__item:nth-child(3n+2) {
  order: 2;
}
.territory__item:nth-child(3n) {
  order: 3;
}
@media (max-width: 1199px) {
  .territory__item {
    max-width: 450px;
  }
  .territory__item:nth-child(2n+1) {
    order: 1;
    min-height: 300px;
  }
  .territory__item:nth-child(2n) {
    order: 2;
    max-height: 620px;
    overflow: hidden;
  }
  .territory__item:nth-child(5) {
    display: none;
  }
}
@media (max-width: 991px) {
  .territory__item {
    max-width: 340px;
  }
  .territory__item:nth-child(2n+1) {
    order: 1;
    min-height: 227px;
  }
  .territory__item:nth-child(2n) {
    max-height: 474px;
  }
}
@media (max-width: 767px) {
  .territory__item {
    width: 100%;
    max-width: 640px;
    max-height: 426px;
    overflow: hidden;
    margin: 0 auto;
  }
  .territory__item:nth-child(2n+1) {
    min-height: auto;
    display: flex;
    justify-content: center;
  }
  .territory__item:not(:first-child) {
    display: none;
  }
}

/* Prices
================*/
.prices {
  padding: 0 15px;
}
.prices__wrapper {
  margin: 10px auto 50px;
  width: 100%;
  border: 1px dotted #B2886F;
  box-shadow: 0 4px 5px 2px #B2886F;
}
@media (max-width: 991px) {
  .prices__wrapper {
    margin-bottom: 35px;
  }
}
@media (max-width: 600px) {
  .prices__wrapper {
    max-width: 500px;
    overflow-x: scroll;
  }
}
.prices__table {
  border-collapse: collapse;
}
.prices__table-data, .prices__table-heading {
  border: 1px dotted #B2886F;
}
.prices__table-heading {
  font-size: 22px;
  padding: 10px;
}
@media (max-width: 991px) {
  .prices__table-heading {
    font-size: 20px;
    padding: 5px;
  }
}
@media (max-width: 767px) {
  .prices__table-heading {
    font-size: 18px;
  }
}
.prices__table-data {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 991px) {
  .prices__table-data {
    font-size: 18px;
    padding: 5px;
  }
}
@media (max-width: 767px) {
  .prices__table-data {
    font-size: 16px;
  }
}
.prices__table-data:not(.center):first-of-type {
  text-align: left;
}
.prices__list {
  margin: 0;
  padding-left: 40px;
  list-style-type: circle;
}
.prices__item {
  margin: 0 0 10px;
}
@media (max-width: 991px) {
  .prices__item {
    margin-bottom: 7px;
  }
}

/* Entertainment
================*/
.entertainment__wrapper:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .entertainment__wrapper:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 414px) {
  .entertainment__wrapper:not(:last-child) {
    margin-bottom: 0;
  }
  .entertainment__wrapper:first-child {
    padding-bottom: 12px;
  }
  .entertainment__wrapper:last-child {
    padding-top: 12px;
  }
}
.entertainment__title {
  margin: 0 auto 40px;
  font-family: "Lobster", cursive;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  line-height: inherit;
}
@media (max-width: 991px) {
  .entertainment__title {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .entertainment__title {
    font-size: 20px;
  }
}
.entertainment__list {
  padding: 10px 30px;
  height: 400px;
  overflow: hidden;
  counter-reset: entertainmentitem;
}
.entertainment__list .slick-list {
  margin: 0 -30px;
}
@media (max-width: 991px) {
  .entertainment__list {
    height: auto;
  }
}
.entertainment__item {
  justify-content: space-between;
}
.entertainment__item:before {
  counter-increment: entertainmentitem;
  content: "0" counter(entertainmentitem);
  margin-right: 5px;
  font-family: "Lobster", cursive;
  font-weight: 400;
  text-align: center;
  font-size: 42px;
  line-height: 1.5;
  color: #B2886F;
}
@media (max-width: 1199px) {
  .entertainment__item:before {
    font-size: 38px;
  }
}
@media (max-width: 991px) {
  .entertainment__item:before {
    display: none;
  }
}
.entertainment__item--revers {
  flex-direction: row-reverse;
}
.entertainment__item--revers .entertainment__subtitle {
  text-align: end;
}
@media (max-width: 991px) {
  .entertainment__item--revers .entertainment__subtitle {
    text-align: center;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .entertainment__item--revers .entertainment__subtitle {
    text-align: center;
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .entertainment__item {
    flex-direction: column;
  }
}
.entertainment__content {
  width: 40%;
  padding: 20px;
  text-align: center;
}
@media (max-width: 991px) {
  .entertainment__content {
    width: 100%;
  }
}
@media (max-width: 414px) {
  .entertainment__content {
    padding: 0;
  }
}
.entertainment__subtitle {
  font-size: 22px;
  text-align: start;
}
@media (max-width: 991px) {
  .entertainment__subtitle {
    text-align: center;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .entertainment__subtitle {
    text-align: center;
    font-size: 18px;
  }
}
.entertainment__text {
  margin-top: 15px;
}
.entertainment__text .btn {
  margin: 15px 0;
}
.entertainment__photo {
  width: 54%;
  min-height: 380px;
  overflow: hidden;
  position: relative;
}
.entertainment__photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.entertainment__photo--included:before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background: url(../img/entertainment/label-check.png) no-repeat;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}
@media (max-width: 991px) {
  .entertainment__photo--included:before {
    display: none;
  }
}
.entertainment__photo--extra:before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background: url(../img/entertainment/label-star.png) no-repeat;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}
@media (max-width: 991px) {
  .entertainment__photo--extra:before {
    display: none;
  }
}
@media (max-width: 991px) {
  .entertainment__photo {
    width: 100%;
  }
}
@media (max-width: 414px) {
  .entertainment__photo {
    display: none;
  }
}

/* Slick */
.slick-slide {
  padding: 0 30px;
}

.slick-arrow {
  display: block;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}
.slick-arrow:hover {
  opacity: 0.6;
}
.slick-arrow:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.slick-prev {
  left: 0;
  transform: rotate(-45deg);
}

.slick-next {
  right: 0;
  transform: rotate(135deg);
}

.slick-disabled {
  opacity: 0.3;
  cursor: default;
}

/* Gallery
================*/
.gallery__item {
  width: 33.33333%;
  min-height: 350px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .gallery__item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .gallery__item {
    width: 100%;
  }
  .gallery__item:nth-child(odd) {
    display: none;
  }
}
@media (max-width: 414px) {
  .gallery__item {
    min-height: 250px;
  }
}
.gallery__photo {
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}
.gallery__link {
  margin-top: 30px;
  text-align: center;
}

/* Faq
================*/
.faq {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.faq__item {
  margin-bottom: 10px;
  border: 1px solid #B2886F;
}
.faq__header {
  padding: 15px 52px 15px 62px;
  position: relative;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: border-bottom 0.35s linear;
}
.faq__header.faq__header--active {
  border-bottom-color: #B2886F;
}
.faq__header--active.faq__header:after {
  transform: rotate(-45deg);
  margin-top: -5px;
}
.faq__header:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin-top: -5px;
  border-top: 2px solid #B2886F;
  border-right: 2px solid #B2886F;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  transform: translateY(-50%) rotate(135deg);
}
@media (max-width: 414px) {
  .faq__header {
    padding: 12px 45px 12px 15px;
  }
}
.faq__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  z-index: 1;
  transform: translateY(-50%);
}
@media (max-width: 414px) {
  .faq__icon {
    display: none;
  }
}
.faq__title {
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .faq__title {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .faq__title {
    font-size: 18px;
  }
}
@media (max-width: 414px) {
  .faq__title {
    line-height: 1.3;
  }
}
.faq__content {
  display: none;
  padding: 15px 20px;
}

/* Reviews
================*/
.reviews__list {
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}
.reviews__item {
  width: 30%;
  background-color: #fff;
  box-shadow: 0px 4px 5px 2px #B2886F;
}
@media (max-width: 991px) {
  .reviews__item {
    width: 45%;
    margin-bottom: 25px;
  }
  .reviews__item:nth-child(3) {
    display: none;
  }
}
@media (max-width: 767px) {
  .reviews__item {
    width: 100%;
  }
  .reviews__item:not(:nth-child(3)) {
    margin-bottom: 35px;
  }
  .reviews__item:nth-child(3) {
    display: block;
  }
}
.reviews__blockquote {
  margin: 30px 20px;
}
.reviews__author {
  font-family: inherit;
  font-size: 20px;
  line-height: 1.1;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}
@media (max-width: 1199px) {
  .reviews__author {
    font-size: 18px;
  }
}
.reviews__city {
  margin-top: 7px;
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 1199px) {
  .reviews__city {
    font-size: 16px;
  }
}
.reviews__text {
  text-align: justify;
}
@media (max-width: 1199px) {
  .reviews__text {
    font-size: 16px;
  }
}

/* Contacts
================*/
.contacts {
  position: relative;
  margin-top: 110px;
}
.contacts__text-wrapper {
  width: 300px;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 4px 5px 2px #B2886F;
  border-radius: 10px;
  position: absolute;
  left: 15vw;
  top: -70px;
  z-index: 10;
}
@media (max-width: 991px) {
  .contacts__text-wrapper {
    width: 100%;
    border-radius: 0;
    position: static;
  }
}
@media (max-width: 991px) {
  .contacts__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 150px;
    margin: 0;
  }
}
@media (max-width: 600px) {
  .contacts__text {
    max-height: 100%;
  }
}
@media (max-width: 991px) {
  .contacts__item {
    margin-right: 20px;
  }
}
.contacts__value {
  padding: 10px 0;
  font-weight: 500;
  line-height: 1.3;
}
@media (max-width: 991px) {
  .contacts__value {
    margin-left: 0;
    padding: 7px 7px 7px 0;
    font-size: 18px;
  }
}
.contacts__address {
  font-style: normal;
}
.contacts__link {
  transition: opacity 0.1s linear;
}
.contacts__link:hover {
  opacity: 0.6;
}
.contacts__map-wrapper {
  font-size: 0;
}
@media (max-width: 991px) {
  .contacts__map-wrapper {
    height: 350px;
    overflow: hidden;
  }
}
@media (max-height: 414px) and (orientation: landscape) {
  .contacts__map-wrapper {
    height: 56vh;
  }
}
@media (max-width: 414px) {
  .contacts__map-wrapper {
    height: 270px;
  }
}
@media (max-width: 991px) {
  .contacts {
    margin-top: 0;
  }
}

/* Social
================*/
.social__item:not(:last-child) {
  margin-right: 10px;
  padding: 5px;
}
.social__icon {
  display: block;
  width: 34px;
  height: 34px;
  fill: #B2886F;
  opacity: 1;
  transition: opacity 0.1s linear;
}
.social__icon:hover {
  opacity: 0.6;
}

/* Footer
================*/
.footer {
  padding: 20px 0;
  background-color: rgba(116, 66, 36, 0.5);
}
.footer__copyright {
  margin: 0;
  font-size: 14px;
  text-align: center;
}
@media (max-width: 414px) {
  .footer__copyright {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .footer {
    padding: 17px 0;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 15px 0;
  }
}
@media (max-width: 414px) {
  .footer {
    padding: 12px 0;
  }
}

/* Scroll-up-link
================*/
.scroll-up-link {
  width: 52px;
  height: 52px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 2px 6px rgba(44, 44, 44, 0.2);
  border-radius: 30px;
  background-color: rgba(178, 136, 111, 0.95);
  transition: 0.2s;
  position: fixed;
  bottom: 120px;
  right: 40px;
  z-index: 1000;
}
.scroll-up-link:before {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../img/arrow-up.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.scroll-up-link--showed {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 991px) {
  .scroll-up-link {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
